html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    display: flex;
    background-color: #e0e5e5;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    margin: 1rem 1rem .25rem 1rem;
    /* gap: 1rem; */
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}


.header-title-container {
    flex: 2;
    display: flex;
    justify-content: flex-start;
}

main {
    flex: 1;
    /* border: 1px solid black; */
    margin: .25rem 2rem 2rem 2rem;
    border-radius: 25px;
    display: flex;
    gap: .15rem;
}

main > .sidebar {
    flex: 1;
    background-color: wheat;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

main > .content {
    flex: 3;
    background-color: aliceblue;
    border-radius: 25px;
}

.sidebar-button {
    all: unset;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    background-color: none;
    cursor: pointer;
    margin: 1.5rem 0 0 1rem;
    height: 2rem;
}

.add-folder-button {
    all: unset;
    margin: auto 0 1.5rem 1rem;
    /* width: 50%; */
    font-size: 3rem;
    font-weight: bold;
    color: blueviolet;
}

.add-folder-button:hover {
    color: blue;
    cursor: pointer;
}

